.about {
    background-color: rgba(94, 86, 86, 0.247);
    padding: 20px;
    border-radius: 5px;
  }
  
  .about h1 {
    font-size:3rem;
    color: black;
  }
  .about h3{
    font-size: 3rem;
  }
  .about h2 {
    font-size: 2rem;
    color: black;
    margin-top: 20px;
  }
  
  .about ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .about li {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  