.navbar {
    background-color: #333;
    gap:2rem;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
  }
  .link{
    padding:0.5rem 1rem;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    background-color: #333

    ;

  }