* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Grid--board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 50px; */
  gap: 10px;
  height: 500px;
  width: 500px;
}
.Grid--item {
  background-color: aqua;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* text-align: center; */
}
